<!DOCTYPE html>
<html><head>
<title>E-Learner</title>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="/stylesheets/kickstart.css" media="all" />                  
<link rel="stylesheet" type="text/css" href="style.css" media="all" />                          <!-- CUSTOM STYLES -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/kickstart.js"></script>                                
</head><body>

<!-- Menu Horizontal -->
<ul class="menu">
<li class="current"><a href="/">Home</a></li>
<li><a href="/classes">Classes</a></li>
</ul>

<div class="grid">
<div class="col_12">
	<div class="col_9">
	{{{body}}}
	</div>
	
	<div class="col_3">
	<h5>Student & Instructor Login</h5>
	<form>
		<label>Username: </label>
		<input type="text" name="username">
		<label>Password: </label>
		<input type="password" name="password">
		<input class="button" type="submit" name="button">
	</form>
	
	<h5>Sample Icons</h5>
	<i class="fa fa-twitter-square fa-3x"></i> 
	<i class="fa fa-facebook-square fa-3x"></i>
	<i class="fa fa-linkedin-square fa-3x"></i>
	<i class="fa fa-github-square fa-3x"></i>
	
	<h5>Button w/Icon</h5>
	<a class="button orange small" href="#"><i class="fa fa-rss"></i> RSS</a>
	</div>
	
	<hr />
	
	<div class="col_4">
	<h4>Learn Node.js</h4>
	<p>Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.</p>
	<a class="button" href="#">View Class</a>
	</div>
	
	<div class="col_4">
	<h4>Learn Angular2</h4>
	<p>Angular 2 is an open source JavaScript framework to build web applications in HTML and JavaScript. This tutorial looks at the various aspects of Angular 2 framework which includes the basics of the framework, the setup of Angular and how to work with the various aspects of the framework.</p>
	<a class="button" href="#">View Class</a>
	</div>
	
	<div class="col_4">
	<h4>Learn React Native</h4>
	<p>React Native is a JavaScript framework for building native mobile apps. It uses the React framework and offers large amount of inbuilt components and APIs.</p>
	<a class="button" href="#">View Class</a>
	</div>
	
	
</div>

</div><!-- END GRID -->

<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer">
&copy; Copyright 2017 All Rights Reserved. E-Learner
</div>

</body></html>