<h3 style="margin-left: 0px; position: relative;top: 90px; font-size: 30px;"> Welcome to E-Learner</h3>
<p style="margin-left: 0px;position: relative;top: 90px;">E-Learner is a free online learning system where Instructor<br> adds lessons and Students make notes.</p>
<a class="button" href="/users/register" style="margin-left: 0px; position: relative;top: 100px;">Sign Up Free</a>
<p style="margin-left: 0px;position: relative;top: 90px;">You need to signup to register for free classes</p>
